.popup__content {
    max-width: 430px;
    background-color: white;
    border-radius: 10px;
    padding: 34px 36px 37px;
    position: relative;
}

@media screen and (max-width: 425px) {
    .popup__content {
    
    max-width: 310px;

    }
}

@media screen and (max-width: 375px) {
    .popup__content {
    
    max-width: 270px;

    }
}

@media screen and (max-width: 320px) {
    .popup__content {
    
    max-width: 220px;

    }
}