.header__logo {
    background-image: url('../../../images/header-logo.svg');
    background-repeat: no-repeat;
    width: 143px;
    height: 33px;
    margin: 45px 0 41px;
}

@media screen and (max-width: 600px) {
    .header__logo {
    width: 103px;
    height: 24px;
    background-size: cover;
    margin: 28px 0 31px 27px;

    }
}