   .element__likes-active {
    background-image: url('../../../images/likesblack.svg');
    opacity: 1;
}   
/* .element__likes-active {
background-image: url('../../../images/likesblack.svg');
    opacity: 1;
} */