.popup__close {
    background-image: url('../../../images/close icon.svg');
    background-color: transparent;
    border: 0;
    height: 58px;
    width: 58px;
    display: block;
    position: absolute;
    top: -50px;
    right: -50px;
}
.popup__close:hover {
    opacity: 0.6;
}
@media screen and (max-width: 425px) {
    .popup__close {
        width: 26px;
        height: 26px;
        top: -35px;
        right: 0;
        background-size: cover; 

    }
}