.profile__description {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;

    }
}
