.element__likes {
    background-image: url('../../../images/likes.svg');
    background-color: transparent;
    border: 0;
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    align-self: center;
    display: block;
}
/* .element__likes:active {
    background-image: url('../../../images/likesblack.svg');
    
} */
.element__likes:hover {
    background-image: url('../../../images/likesblack.svg');
    /* opacity: 0.5; */
}
