.footer__copy {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 98px 0 50px;
}
@media screen and (max-width: 768px) {
    .footer__copy {
        margin: 48px 40px 36px;  
    
        
    }
}
@media screen and (max-width: 425px) {
    .footer__copy {
        margin: 48px 65px 36px;  
    
        
    }
}
@media screen and (max-width: 420px) {
    .footer__copy {
        margin: 48px 20px 36px;  
    
        
    }
}
@media screen and (max-width: 375px) {
    .footer__copy {
        margin: 48px 45px 36px;  
    
        
    }
}
@media screen and (max-width: 320px) {
    .footer__copy {
        margin: 48px 20px 36px;  
    
        
    }
}