.popup__form-button {
font-family: 'Inter', ‘Arial’, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: white;
cursor: pointer;
transition: opacity .4s;
background-color: black;
border: 0;
margin: auto;
height: 100%;
width: 100%;
border-radius: 2px;
}
.popup__form-button:hover {
    opacity: 0.8;
}