.element {
    /* border: 1px solid #000;  */
    background-color: #fff;
    max-width: 282px;
    border-radius: 10px;
    position: relative; 
}
@media screen and (max-width: 880px) {
    .element {
        
    margin: auto;
        
    }
}